@charset "UTF-8";
/*Utilities*/
/* Configuracion para centrar los textos informativos como metodos de pago ...etc*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
.texto {
  width: 50%;
  margin: auto;
  background-color: rgba(250, 233, 233, 0.733);
  backdrop-filter: blur(7px);
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem; }
  .texto h2, .texto h1, .texto b, .texto a {
    font-size: 2rem; }
  .texto a {
    color: black; }

#vaciar-carrito, #finalizar-compra {
  font-size: 9px; }

.parrafos > p {
  font-size: 20px; }

.general-talles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

/*Bases*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

/*Layout*/
.contenedor {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto; }

.footer {
  background-color: #74C3EF;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .footer h2 {
    font-size: 1.6rem; }
  .footer a {
    text-decoration: none;
    color: #1c1c1c;
    cursor: pointer;
    font-size: 1.5rem; }

.div-a, .div-b, .div-c {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.div-d {
  text-align: center;
  align-items: center;
  padding-top: 6px; }
  .div-d img {
    padding: 3px; }
  .div-d p {
    font-size: 1.6rem; }

.iconos {
  width: 25px;
  height: 25px; }

/*Menu Hamburguesa*/
@media (max-width: 768px) {
  .logo {
    position: absolute;
    left: 45%; }
  #abrir, #cerrar {
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
  #abrir {
    color: #000000;
    font-size: 3rem; }
  #cerrar {
    color: #ffffffef;
    font-size: 3rem; }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); }
  .nav.visible {
    opacity: 1;
    visibility: visible; }
  .nav-list {
    flex-direction: column;
    align-items: start; }
    .nav-list #enlace {
      color: #ffffff; } }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  margin: auto;
  justify-content: center;
  max-width: 1100px;
  gap: 30px;
  padding-bottom: 30px;
  padding-top: 20px; }

h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem; }

.imagenes {
  width: 100%;
  height: 270px; }

.price {
  padding: 6px;
  font-size: 1.4rem;
  text-align: center; }

.agregar-carrito {
  padding: 1rem;
  width: 100%;
  background-color: #74C3EF;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #222;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2.5px; }
  .agregar-carrito:hover {
    background-color: #DCF256;
    transition: all .3s; }

.card {
  border: solid thin #e1e1e1;
  border-radius: 5px;
  height: 99.5%;
  transition: box-shadow 0.3s ease;
  transition: 200ms; }
  .card:hover {
    box-shadow: 0 0.3rem 0.5rem black;
    translate: 0 -10px; }

.general {
  display: grid;
  grid-template-columns: 5fr 1fr auto;
  text-align: center;
  justify-items: center;
  padding: 10px; }
  .general p {
    font-size: 1.3rem; }

.picture img {
  width: 680px;
  height: 680px;
  position: absolute;
  left: 25%; }

.atras {
  position: absolute;
  right: 94%; }

.detalle {
  text-align: center;
  font-size: 2.5rem;
  gap: 2rem; }

.pagos {
  display: grid;
  grid-template-columns: repeat(5, 25%);
  grid-template-rows: 30px 30px;
  padding-top: 18px;
  padding-bottom: 18px; }
  .pagos img {
    width: 22px;
    height: 20px; }

.info {
  background-color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid thin #fffcfc; }

h1, h2 {
  font-size: 1.3rem; }

#pe {
  font-size: 1.6rem; }

.talles {
  display: flex;
  font-size: 3rem; }
  .talles button {
    width: 50px;
    height: 35px;
    background-color: white;
    color: #1c1c1c;
    border: solid thin #d4bbbb;
    border-radius: 5px;
    cursor: pointer; }
    .talles button:hover {
      background-color: #DCF256;
      transition: all .3s; }

button.seleccionado {
  background-color: black;
  color: white; }

.talle {
  padding-right: 8px; }

.colores {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem; }

.cant {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center; }
  .cant i {
    align-items: center;
    font-size: 2rem;
    color: gray;
    padding-bottom: 25px; }

.cantidades, .color {
  padding-right: 15px; }

.cero {
  padding: 0 25px;
  color: gray; }

#resta {
  padding-left: 5px; }

#msgcontador {
  font-size: 2rem; }

.atras {
  background-color: #74C3EF;
  cursor: pointer;
  border-radius: 30px;
  width: 100px; }
  .atras a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.5rem; }
    .atras a:hover {
      background-color: #dcf256;
      border-radius: 15px; }

.color-palette {
  display: flex; }

.color-swatch {
  width: 30px;
  /* Puedes ajustar el tamaño */
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  /* Espacio entre los colores */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  /* Borde inicial transparente */
  transition: border-color 0.3s ease;
  /* Transición suave */ }

.color-swatch input[type="radio"] {
  opacity: 0;
  /* Oculta el botón de radio */
  position: absolute; }

.color-swatch input[type="radio"]:checked + .color-swatch {
  border-color: currentColor;
  /* Cambia el borde al color actual */ }

.black {
  background-color: #000000;
  color: #000000; }

.red {
  background-color: red;
  color: red; }

.light-gray {
  background-color: #D3D3D3;
  color: #D3D3D3; }

.yellow {
  background-color: #FFFF00;
  color: #FFFF00; }

.green {
  background-color: #008000;
  color: #008000; }

.opciones {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.talle, .cantidades, .color {
  font-size: 1.5rem; }

/*Components*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s; }
  .whatsapp-button img {
    width: 35px;
    height: 35px; }
  .whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); }

.tooltip {
  visibility: hidden;
  width: 100px;
  font-size: 10px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 22px;
  right: 200%;
  transform: translateX(50%);
  opacity: 0;
  transition: opacity 0.3s; }

.whatsapp-button:hover .tooltip {
  visibility: visible;
  opacity: 1; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #74C3EF; }

.logo {
  max-width: 6rem; }

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 1rem; }
  .nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.5rem; }
    .nav-list li a:hover {
      background-color: #dcf256;
      border-radius: 24px; }

.abrir-menu,
.cerrar-menu {
  display: none; }

.conteiner nav {
  display: flex;
  justify-content: end;
  padding-top: 2rem;
  font-size: 2.5rem;
  cursor: pointer; }
  .conteiner nav button {
    display: none; }
  .conteiner nav button {
    cursor: pointer; }

.conteiner nav i:hover > .buy-card {
  width: 400px;
  height: 600px;
  position: absolute;
  right: 0;
  top: 6.9%;
  background-color: #fff; }

.conteiner nav i:hover .buy-card > button {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 10px auto;
  background-color: transparent;
  border: solid thin #e1e1e1;
  cursor: pointer;
  color: #1e1e1e; }

.conteiner nav i:hover .buy-card > button:hover {
  border: solid thin #1e1e1e;
  transition: all .5s; }

.conteiner nav i:hover .nav-card {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border: solid thin #fff; }

.nav-card {
  display: none; }
  .nav-card li {
    list-style: none;
    padding: 1rem;
    font-weight: bold; }
    .nav-card li:nth-child(2) {
      padding-left: 32px; }
    .nav-card li:nth-child(3) {
      padding-right: 9px; }
    .nav-card li:nth-child(4) {
      padding-right: 46px; }

.lista-de-productos div {
  display: none;
  text-align: center;
  padding: 10px 0 0 0;
  border-top: solid thin #e1e1e1; }
  .lista-de-productos div p {
    width: 300px;
    font-size: 1.2rem; }
    .lista-de-productos div p:nth-child(4) {
      padding-left: 6px; }
    .lista-de-productos div p:last-child span {
      background-color: red;
      border-radius: 50%;
      padding: 5px 10px;
      color: #fff; }
  .lista-de-productos div img {
    width: 100px; }

.conteiner nav i:hover .buy-card > .lista-de-productos div {
  display: flex; }

#carrito {
  gap: 2rem; }

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.5rem;
  height: 46rem;
  gap: 1rem;
  border: solid thin black;
  border-radius: 15px;
  background-color: #dfd4d4;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  transition: 200ms; }
  .carta:hover {
    box-shadow: 0 0.3rem 0.5rem black;
    translate: 0 -10px; }
  .carta img {
    width: 30rem;
    height: 21rem;
    margin: 2rem 2rem; }

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 8rem;
  padding-right: 6rem;
  flex-wrap: wrap; }

#titulo {
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem; }

.description {
  font-size: 1.6rem;
  text-align: center; }

.titulo-gc {
  padding-top: 2rem;
  font-size: 2rem; }

#btn-gc {
  position: relative;
  top: 4%; }
