.general{
    display: grid;
    grid-template-columns: 5fr 1fr auto;
    text-align: center;
    padding: 10px;
    p{font-size: 1.3rem;}
}
.picture img{
    width: 680px;
    height: 680px;
}
.detalle{
    text-align: center;
    font-size: 2.5rem;
    gap :2rem;
}
.pagos{
    display: grid;
    grid-template-columns:repeat(5,25%) ;
    grid-template-rows: 30px 30px; 
    padding-top: 18px ;
    padding-bottom: 18px;
    img{
    width: 22px;
    height: 20px;
}
}
.info{
    background-color: rgb(230, 229, 220);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid thin gray;
}
h1 , h2{font-size: 1.3rem;}
p{
    font-size: 2.5rem;
}
.talles{
display: flex;
font-size: 3rem;
button{
width: 50px;
height: 35px;
background-color:white;
color:#1c1c1c;
border: solid thin rgb(212, 187, 187); 
border-radius: 5px;
cursor: pointer;
&:hover{
    background-color: #DCF256;
    transition: all .3s ;
        }
    }
}
button.seleccionado{
    background-color: black;
    color: white;
}
.talle{
    padding-right: 8px;
}
.colores{
display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
}
// /*colores de los colores*/
// input[class="negro"]{
//     accent-color: black;
//     width: 29px;
//     height: 29px;
// }
// input[class="azul"]{
//     accent-color: blue;
//     width: 29px;
//     height: 29px;
// }
// input[class="amarillo"]{
//     accent-color: yellow;
//     width: 29px;
//     height: 29px;
// }
// input[class="verde"]{
//     accent-color:green;
//     width: 29px;
//     height: 29px;
// }
// input[class="rojo"]{
//     accent-color:red;
//     width: 29px;
//     height: 29px;
// }
// input[class="gris"]{
//     accent-color:grey;
//     width: 29px;
//     height: 29px;
// }
// input[class="marron"]{
//     accent-color:#7f5345;
//     width: 29px;
//     height: 29px;
// }
.cant{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    i{  
        align-items: center;
        font-size: 2rem;
        color: gray;
        padding-bottom: 25px;}
}
.cantidades , .color{
    padding-right: 15px;
}
.cero{
    padding: 0 25px;
    color: gray;
}
#resta{padding-left: 5px;}
#msgcontador{
    font-size: 2rem;
}
.atras{
    background-color: #74C3EF;
    cursor: pointer;
    border-radius: 30px;
    width: 100px;
    a{
        text-decoration: none;
        color:#1c1c1c ;
        font-size: 1.5rem;
        &:hover{background-color: #dcf256;
        border-radius: 15px;}
    }
}


    .color-palette {
        display: flex;
    }
    
    .color-swatch {
        width: 30px; /* Puedes ajustar el tamaño */
        height: 30px;
        border-radius: 50%;
        margin-right: 5px; /* Espacio entre los colores */
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid white; /* Borde inicial transparente */
        transition: border-color 0.3s ease; /* Transición suave */
    }
    
    .color-swatch input[type="radio"] {
        opacity: 0; /* Oculta el botón de radio */
        position: absolute;
    }
    
    .color-swatch input[type="radio"]:checked + .color-swatch {
        border-color: currentColor; /* Cambia el borde al color actual */
    }
    
    .black { background-color: #000000; color: #000000; }
    .red { background-color: red; color: red; }
    .light-gray { background-color: #D3D3D3; color: #D3D3D3; }
    .yellow { background-color: #FFFF00; color: #FFFF00; }
    .green { background-color: #008000; color: #008000; }
